@model together_culture_cambridge.Models.Membership

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Membership</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MembershipType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MembershipType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JoiningFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JoiningFee)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
